<form action="/auth/login" method="POST">
    <h1>Log In</h1>
    <input type="text" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Submit</button>
</form>