<form id="register-form">
    <h1>Start Cooing Now!</h1>
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Submit</button>
</form>