<form action="/auth/register" method="POST">
    <h1>Start Cooing Now!</h1>

    {{#each errors}}
        <p class="error">{{this}}</p>
    {{/each}}

    <input type="text" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <button type="submit">Submit</button>
</form>